@media screen and (max-width: 768px) {
  .tablet-version,
  .laptop-version {
    display: none;
  }

  .phone-version {
    background-color: #d45749;
  }

  .phone-ul li i {
    color: white;
  }

  .logo img {
    width: 170px;
    height: 50px;
    margin: 10px 0;
  }

  .phone ul {
    margin: auto;
    margin-left: 40px;
  }

  .phone-ul li {
    margin: 0 30px;
  }

  h1.billboard {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .how-works {
    background: rgba(255, 255, 255);
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 0 5px;
    line-height: 5px;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .phone-input {
    display: flex;
    flex-direction: column;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    padding: 10px;
  }

  .btn {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    margin: 10px 0;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: 1fr;
  }

  .procedure h1 {
    color: #d45749;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  }

  .procedure-grids div i {
    font-size: 30px;
    margin: 10px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo img {
    width: 150px;
    height: 40px;
    margin: 10px 20px;
  }

  .tablet-version {
    background-color: #d45749;
  }

  .laptop-version,
  .phone-version {
    display: none;
  }

  .tablet-ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
  }

  .tablet-ul li {
    padding-right: 4.5em;
  }

  .tablet-ul li i {
    color: white;
    font-size: 18px;
  }

  h1.billboard {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 10px;
  }

  .search-bar input {
    border: 0;
    padding: 0 130px;
  }

  .btn {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    padding: 2px 5px;
    margin-left: -4px;
    margin-bottom: 3px;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .how-works {
    position: relativ;
    right: 38em;
    top: 19em;
    background: rgba(255, 255, 255);
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .logo img {
    margin: 0.625em 0 0.625em 1.875em;
  }

  .laptop-ul {
    margin: auto 1.85em;
  }

  .laptop-version {
    background-color: #d45749;
  }

  .tablet-version,
  .phone-version {
    display: none;
  }

  .nav-container,
  .nav-container ul {
    display: flex;
    flex-direction: row;
  }

  .nav-container {
    justify-content: space-between;
  }

  .laptop-ul li {
    margin-left: 2em;
  }

  .laptop-ul li i {
    color: white;
    font-size: 18px;
  }

  .laptop-ul li a {
    color: white;
    text-decoration: none;
  }

  h1.billboard {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 10px;
  }

  .search-bar input {
    border: 0;
    padding: 2px 130px;
  }

  .btn {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    padding: 2px 5px;
    margin-left: -4px;
    margin-bottom: 3px;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.search-container {
  position: absolute;
  width: 100%;
  background-image: url(img/backroundimg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.form-container {
  height: fit-content;
}

.fieldset {
  max-width: fit-content;
  align-self: center;
}

.how-works {
  background: rgba(255, 255, 255);
  max-width: fit-content;
  align-self: center;
  margin: 30px;
}

.procedure {
  position: absolute;
}

.procedure h1 {
  color: #d45749;
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  padding: 70px;
}

.procedure-grids div i {
  font-size: 30px;
  margin: 10px;
}

.find-buttons {
  position: absolute;
  top: 1000px;
}
