@media screen and (max-width: 768px) {

  .tablet-version,
  .laptop-version {
    display: none;
  }

  .phone-version {
    background-color: #d45749;
  }

  .phone-ul li i {
    color: white;
  }

  .logo img {
    width: 170px;
    height: 50px;
    margin: 10px 0;
  }

  .phone ul {
    margin: auto;
    margin-left: 40px;
  }

  .phone-ul li {
    margin: 0 30px;
  }

  h1.billboard {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }

  .how-works {
    background: rgba(255, 255, 255);
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 0 5px;
    line-height: 5px;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .phone-input {
    display: flex;
    flex-direction: column;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    padding: 10px;
  }

  .btntop {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    margin: 10px 0;
    border: none;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: 1fr;
  }

  .procedure h1 {
    color: #d45749;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  }

  .procedure-grids div i {
    font-size: 30px;
    margin: 10px;
  }

  .procedure {
    position: relative;
    top: 250px;
    overflow-x: hidden;
  }

  .find-buttons {
    position: relative;
    overflow-x: hidden;
    top: 200px;
  }

  .find-buttons h3 {
    color: white;
    font-size: 16px;
  }

  .find-buttons p {
    color: white;
    font-size: 14px;
  }

  .images img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }

  .find-school {
    background-color: #d45749;
  }

  .find-school .button {
    font-size: 14px;
  }

  .near-you {
    background-color: #98a4a5;
  }

  .apps {
    background-color: #549cdc;
  }

  .find1 button {
    color: #d45749;
    background-color: white;
  }

  .find2 button {
    color: #98a4a5;
    background-color: white;
  }

  .find-school,
  .near-you,
  .apps {
    padding: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logo img {
    width: 150px;
    height: 40px;
    margin: 10px 20px;
  }

  .tablet-version {
    background-color: #d45749;
  }

  .laptop-version,
  .phone-version {
    display: none;
  }

  .tablet-ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
  }

  .tablet-ul li {
    padding-right: 4.5em;
  }

  .tablet-ul li i {
    color: white;
    font-size: 18px;
  }

  h1.billboard {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 10px;
  }

  .search-bar input {
    border: 0;
    padding: 0 130px;
  }

  .btntop {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    padding: 0px 5px;
    margin-left: -4px;
    border: none;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .how-works {
    background: rgba(255, 255, 255);
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
  }

  .procedure {
    position: relative;
    top: 300px;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }


  .find-buttons {
    position: relative;
    overflow-x: hidden;
    top: 200px;
  }

  .find-buttons {
    width: 100vw;
  }

  .find-buttons h3 {
    color: white;
    font-size: 25px;
  }

  .find-buttons p {
    color: white;
    font-size: 20px;
  }

  .images img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .find-school {
    background-color: #d45749;
  }

  .near-you {
    background-color: #98a4a5;
  }

  .apps {
    background-color: #549cdc;
  }

  .find1 button {
    color: #d45749;
    background-color: white;
  }

  .find2 button {
    color: #98a4a5;
    background-color: white;
  }

  .find-school,
  .near-you,
  .apps {
    padding: 30px;
  }

}

@media screen and (min-width: 1025px) {
  .logo img {
    margin: 0.625em 0 0.625em 1.875em;
  }

  .laptop-ul {
    margin: auto 1.85em;
  }

  .laptop-version {
    background-color: #d45749;
  }

  .tablet-version,
  .phone-version {
    display: none;
  }

  .nav-container,
  .nav-container ul {
    display: flex;
    flex-direction: row;
  }

  .nav-container {
    justify-content: space-between;
  }

  .laptop-ul li {
    margin-left: 2em;
  }

  .laptop-ul li i {
    color: white;
    font-size: 18px;
  }

  .laptop-ul li a {
    color: white;
    text-decoration: none;
  }

  h1.billboard {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
  }

  .search-bar {
    background: rgba(255, 255, 255, 0.45);
    padding: 30px;
    border-radius: 10px;
  }

  .search-bar input {
    border: 0;
    padding: 2px 130px;
  }

  .btntop {
    background-color: #d45749;
    font-size: 15px;
    border-radius: 0%;
    color: white;
    padding: 1px 5px;
    margin-left: -3px;
    border: none;
  }

  label {
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  .how-works a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 0 10px;
  }

  .procedure {
    position: relative;
    top: 250px;
    overflow-x: hidden;
  }

  .procedure-grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }


  .find-buttons {
    position: relative;
    overflow-x: hidden;
    top: 200px;
  }

  .find-buttons {
    width: 100vw;
  }

  .find-buttons h3 {
    color: white;
    font-size: 25px;
  }

  .find-buttons p {
    color: white;
    font-size: 20px;
  }

  .images img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .find-school {
    background-color: #d45749;
  }

  .near-you {
    background-color: #98a4a5;
  }

  .apps {
    background-color: #549cdc;
  }

  .find1 button {
    color: #d45749;
    background-color: white;
  }

  .find2 button {
    color: #98a4a5;
    background-color: white;
  }

  .find-school,
  .near-you,
  .apps {
    padding: 30px;
  }

}

.global {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: url(img/backroundimg.jpg) 50% 100% no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
}

.form-container {
  height: fit-content;
}

.fieldset {
  max-width: fit-content;
  align-self: center;
}

.how-works {
  background: rgba(255, 255, 255);
  max-width: fit-content;
  align-self: center;
  margin: 30px;
}

.procedure h1 {
  color: #d45749;
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

.grid1,
.grid2,
.grid3,
.grid4 {
  padding: 70px;
}

.procedure-grids div i {
  font-size: 30px;
  margin: 10px;
}


/*

footer {
  position: relative;
  top: 200px;
  width: 100vw;
  overflow-x: hidden;
}

.upper-footer {
  background-color: black;
  padding: 30px;
  margin: auto;
  width: 100vw;
  justify-content: center;
}

.upper-footer ul li a {
  color: white;
  text-decoration: none;
}

.upper-footer ul li {
  margin-left: 30px;
}

.upper-footer ul {
  border-top: 1px solid rgb(167, 163, 163);
  border-bottom: 1px solid rgb(180, 177, 177);
}

.location {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(158, 157, 157);
}

.upperi {
}

.fa-map-marker-alt {
  color: white;
  font-size: 30px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

.lower {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  color: white;
  background-color: black;
}

.lower h1 {
  font-size: 25px;
}

.lower a {
  color: #d45749;
}

.subscribe input {
  background-color: black;
  border: 1px solid gray;
  padding: 5px 0;
}

.subscribe button {
  color: white;
  background-color: gray;
  margin-left: -5px;
  padding: 6px 7px;
  border: none;
}

.last-footer {
  background-color: gray;
}

.social li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}